<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.tourism.mapper.HotelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzw.tourism.entity.Hotel">
        <id column="ID" property="id" />
        <result column="ADD_USER_ID" property="addUserId" />
        <result column="ADD_TIME" property="addTime" />
        <result column="DELETE_STATUS" property="deleteStatus" />
        <result column="MODIFY_USER_ID" property="modifyUserId" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="HOTEL_NAME" property="hotelName" />
        <result column="HOTEL_INTRO" property="hotelIntro" />
        <result column="HOTEL_STAR" property="hotelStar" />
        <result column="LINK_PHONE" property="linkPhone" />
        <result column="ADDRESS" property="address" />
        <result column="STATE" property="state" />
        <result column="IMG_URL" property="imgUrl" />
        <result column="PRICE" property="price" />
        <result column="HOTEL_NUM" property="hotelNum" />
        <result column="Room_Type_Information" property="roomTypeInformation" />
        <result column="Facility_Information" property="facilityInformation" />
        <result column="Booking_Instructions" property="bookingInstructions" />
        <result column="Scenic_Spot_Id" property="scenicSpotId" />
        <result column="STAY_DAY" property="stayDay" />


    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ADD_USER_ID, ADD_TIME, DELETE_STATUS, MODIFY_USER_ID, MODIFY_TIME, HOTEL_NAME, HOTEL_INTRO, HOTEL_STAR, LINK_PHONE, ADDRESS, STATE, IMG_URL, PRICE, HOTEL_NUM, Room_Type_Information, Facility_Information, Booking_Instructions, Scenic_Spot_Id
    </sql>

</mapper>
