<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.tourism.mapper.StrategyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzw.tourism.entity.Strategy">
        <id column="ID" property="id" />
        <result column="ADD_USER_ID" property="addUserId" />
        <result column="ADD_TIME" property="addTime" />
        <result column="DELETE_STATUS" property="deleteStatus" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="IMG_URL" property="imgUrl" />
        <result column="TITLE" property="title" />
        <result column="RATING" property="rating" />
        <result column="SUMMARY" property="summary" />
        <result column="INTRO_URL" property="introUrl" />
        <result column="STATE" property="state" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ADD_USER_ID, ADD_TIME, DELETE_STATUS, MODIFY_USER_ID, MODIFY_TIME, IMG_URL, TITLE, RATING, SUMMARY, INTRO_URL, STATE
    </sql>

</mapper>
